*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

main{
    position: relative;
    height: 70%;
    width: 25%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

button{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;

}

.box{
    position: absolute;
    height: 10%;
    width: 15%;
    border-radius: 10%;
    background-color: red;
    display: none;
    

}

#top{
    color: whitesmoke;
    display: flex;
    width: 25%;
    justify-content: space-between;
}

#overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}

#overlay.show{
    opacity: 1;
    visibility: visible;
}